header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (min-width: 60ch) {
    header {
        flex-wrap: nowrap;
    }
}

.header-identity a {
    text-decoration: none;
    border-bottom: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-identity h1 {
    margin: 0;
}

header nav {
    margin-top: 0;
}

.timeline {
    margin-top: 1.5rem;
    --tl-color: %23ebbcba;
}

.timeline section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 60ch) {
    .timeline section {
        grid-template-columns: 20ch 1fr;
        gap: 0.5rem 1rem;
    }
}

.timeline section time {
    text-align: left;
    color: var(--color-muted);
    white-space: nowrap;
}

.timeline .entry {
    padding: 0 0 1.5rem 0;
}

h4 {
    color: var(--color-muted);
    margin-top: 0.25rem;
}

.entry p,
.entry ul {
    margin-top: 0.5rem;
}

.entry p {
    text-align: justify;
    text-justify: inter-word;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.skills li {
    background-color: rgba(var(--color-rose-rgb), 0.1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: var(--color-rose);
    font-weight: bold;
}
